# -*- cperl -*-

my $taskbot_dbi = "DBI:SQLite:dbname=test.sqlite";
my $run_timeout = 120;
my $select_timeout = 30;

my %config = (
   taskbot_dbi => [$taskbot_dbi],
   sh => '/bin/sh',
   run_timeout => $run_timeout,
   select_timeout => $select_timeout,
   gzip_threshold => 128,
   gzip_ratio => 0.0,
   max_output_size => 1 * 1024 * 1024,
   environment => {
       TASKBOT_TEST => undef,
       TASKBOT_SELECT_TIMEOUT => $select_timeout,
       TASKBOT_RUN_TIMEOUT => $run_timeout,
       TASKBOT_DBI => $taskbot_dbi,
   },
);


\%config;
