# -*- cperl-mode -*-

my $run_timeout = 10;
my $select_timeout = 2;

my %config = (
   taskbot_dbi => [$ENV{TASKBOT_DBI}],
   sh => '/bin/sh',
   env => '/bin/env',
   run_timeout => $run_timeout,
   select_timeout => $select_timeout,
   gzip_threshold => 128,
   gzip_ratio => 0.0,
   environment => {
       TASKBOT_SELECT_TIMEOUT => $select_timeout,
       TASKBOT_RUN_TIMEOUT => $run_timeout,
   },
);


\%config;
